<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative mt-5" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
          <h2>Анкета успешно отправлена!</h2>
          <img src="assets/img/undraw_Mail_sent_re_0ofv.svg" class="my-img-fluid" alt="done" />
        </div>
      </div>
      <div class="text-center">
        <a routerLink="/questform">
          <button class="btn btn-primary pull-right">Заполнить новую анкету</button>
        </a>
      </div>
    </div>
</section>