<section id="hero" class="hero d-flex align-items-center">
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1 class="mb-3">
          Добро пожаловать в приложение!
        </h1>
        <h4 class="mb-4">
          Данное SPA приложение представляет из себя анкету, собирающую данные пользователя
        </h4>
        <div class="text-center text-lg-start mb-3">
          <a routerLink="/questform">
            <button class="btn btn-primary pull-right">Заполнить анкету</button>
          </a>
        </div>
      </div>
      <div class="col-lg-6 hero-img">
        <img src="assets/img/undraw_settings_tab_mgiw.svg" class="img-fluid" alt="settings_tab" />
      </div>
    </div>
  </div>
</section>
